*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

input {
    border: none;
}

body {
    margin: 0;

    color: black;
}

html {
    font-size: 12px;
}

a,a:visited {
    text-decoration: none;
    color: black;
}

/* Scrollbar
=======================*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
::-webkit-scrollbar-thumb {
    background: #000; 
  }
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5); 
  }


/* Container 
=======================*/
.container {
    margin: 0 auto;

    width: 100%;
    max-width: 1230px;
}


/* Section
=======================*/

.section {
    margin-bottom: 50px;
}


/* Header 
=======================*/
.header {
    margin-bottom: 30px;
}

.header__inner {
    display: flex;
    flex-direction: column;

    padding-top: 30px;

    font-family: Inter, sans-serif;
}

.header__row {
    display: flex;
    flex-direction: row;
}

.header__row--1 {
    margin-bottom: 50px;
    justify-content: space-between;
    
    position: relative;
}

.header__logo {
    position: absolute;

    left: calc(50% - 75px);
}

.header__row--2 {
    justify-content: space-between;
    
    text-transform: uppercase;
    font-size: 1.33rem;
    font-weight: 200;
}

.menu__item{
    position: relative;
}
.menu__item::after {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    content: "";
    height: 2px;
    width: 0%;
    display: block;
    background-color: #C2DBDC;
}
.menu__item:hover::after {
    width: 100%;
    transition: width 0.1s linear;
}


/* Nav 
=======================*/
.nav {
    display: flex;
    flex-direction: row;
}

.nav__item {
    margin-right: 30px;
}
.nav__item:last-child {
    margin-right: 0;
}


/* Lang 
=======================*/
.lang {
    font-size: 1rem;
    font-weight: 700;

    text-transform: uppercase;
}

.lang__rus {
    margin-right: 10px;
}

.lang__eng {
    position: relative;
}
.lang__eng::before {
    content: "";

    height: 16px;
    border-left: 2px solid black;

    position: absolute;
    top: 0;
    left: -6px;
}

.active {
    padding-bottom: 2px;
    border-bottom: 1px solid black;
}


/* Intro
=======================*/
.intro {
    margin-bottom: 100px;
}


/* Slider 
=======================*/
.slider {
  position: relative;
  overflow: hidden;
}

.slider__wrapper {
    position: relative;
    overflow: hidden;
}

.slider__items {
    display: flex;
    transition: transform .7s ease;
}

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
}

.slider__inner {
    display: flex;
    flex-direction: row;

    background-color: #C2DBDC;
}

.slider__control {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    width: 135px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 20px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);
}

.slider__control_show {
    display: none;
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
}

.slider__control_prev {
    top: 15px;
    left: calc(50% - 65px);
}

.slider__control_next {
    bottom: 0px;
    left: calc(50% - 65px);
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_prev::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    transform: rotateZ(90deg);
}

.slider__control_next::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    transform: rotateZ(90deg);
}

.slider__indicators {
    position: absolute;
    top: calc(50% - 50px);
    left: 5px;
    z-index: 15;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.slider__indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 4px;
    height: 4px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
    border: 10px solid transparent;
    border-radius: 50%;
}

.slider__indicators li.active {
    background-color: #000;
}

.slider__description {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 160px;
}
.slider__title {
    font-size: 3rem;
    font-family: "Playfair Display",serif;
    font-weight: 700;

    text-transform: uppercase;
    line-height: 3.9rem;
    letter-spacing: 0.2rem;

    max-width: 391px;
}
.slider__text {
    font-size: 2rem;
    font-family: Cormorant, serif;
    font-style: italic;
    font-weight: 400;
}
.slider__button {
    font-size: 1.5rem;
    font-family: Inter, sans-serif;
    font-weight: 200;

    background-color: #C2DBDC;
    border: 1px solid black;

    max-width: 312px;
    max-height: 65px;
    height: 100%;

    margin-top: 40px;
    cursor: pointer;

    filter: invert(0);
}

.slider__button:hover {
    filter: invert(100%);
    transition: filter 0.2s linear;
}

.slider__img > img {
    display: block;

    max-width: 100%;
}


/* Novelty
=======================*/

.novelty {
    display: flex;
    flex-direction: column;
}

.novelty__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.novelty__title {
    font-size: 2rem;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: 0.25rem;
}

.novelty__text {
    font-size: 2rem;
    font-family: Cormorant, serif;
    font-weight: 400;
    font-style: italic;
    line-height: 1.25;
}


/* Items
=======================*/
.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.item {
    flex: 1 1 auto;
    align-items: center;
    display: flex;
    flex-direction: column;

    transform: translateY(0);
}
.item:hover {
    transition: transform 0.2s linear;
    transform: translateY(-5px);
}

.item__description {
    margin-top: 20px;
    text-align: center;
    
}

.item__suptitle {
    font-size: 1.5rem;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

.item__title {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Playfair Display", serif;
    letter-spacing: 2px;

    margin-bottom: 20px;
}

.item__text,
.item__price {
    font-family: Cormorant;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: italic;
}

.item__img > img {
    display: block;
    max-width: 100%;
}


/* Column
=======================*/
.column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 100px;
}

.column a img {
    max-width: 565px;
    max-height: 570px;
    width: 100%;

    display: block;
}

.column__male,
.column__female {
    position: relative;
    
    transform: translateY(0);

    filter: invert(0%);
    
}

.column__text {
    font-size: 3rem;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    letter-spacing: 3px;

    color: white;

    position: absolute;
    top: 70%;
    left: 29%;
    z-index: 1;
}

.column__male:hover,
.column__female:hover {
    transition:  filter .5s linear;
    filter: invert(100%);

    transition: transform .5s linear;
    transform: translateY(-5px);

}

/* Adress
=======================*/
.adress__title {
    font-size: 2rem;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.2rem;

    margin-bottom: 75px;
}

.adress {
    display: flex;  
    justify-content: space-between;
    column-gap: 30px;
}

.adress__inner {
    flex: 1 0;
}

.adress__map {
    flex: 0 1 62%;
}

.adress__search {
    height: 40px;
    max-width: 430px;
    width: 100%;

    background-color: white;
    background-image: url('../img/adress/search.png');
    background-position: right;
    background-repeat: no-repeat;

    padding: 10px 30px 10px 10px;
    margin-bottom: 15px;

    border-bottom: 1px solid black;
}
.adress__search::placeholder {
    font-family: Cormorant, serif;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;

    color: rgba(0, 0, 0, 0.5);
}
.adress__search:focus {
    outline: none;
}

.adress__item {
    overflow-y: scroll;

    max-height: 430px;
}

.adress__description {
    max-width: 430px;

    padding-bottom: 15px;
    margin-bottom: 20px;

    border-bottom: 1px solid #DDDDDD;
}
.adress__description:hover {
    background-color: rgba(0, 0, 0, 0.021);
}


.adress__name {
    font-size: 1.16rem;
    font-family: "Playfair Display", sefir;
    font-weight: 700;
    line-height: 1.75;
    letter-spacing: 0.2rem;

    text-transform: uppercase;

    margin-bottom: 20px;
}

.adress__contact {
    display: flex;
    align-items: center;

    font-size: 1.16rem;
}

.adress__icon {
    flex: 0;
}

.adress__phone {
    flex: 1;

    margin-left: 15px;
    
    font-family: Inter, sans-serif;
    font-weight: 200;
    line-height: 1.75;
    letter-spacing: 0.2rem;
}

.adress__time {
    flex: 1;

    font-family: "Playfair Display", serif;
    font-weight: 400;
    text-align: right;

    padding-right: 25px;

    color: rgba(0, 0, 0, 0.5);
}

/* Subscribe
=======================*/
.subscribe {
    background-color: #C2DBDC;

    height: 300px;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.subscribe__title {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    line-height: 1.3;
    letter-spacing: 0.2rem;
    text-transform: uppercase;

    margin-top: 35px;
}

.subscribe__subtitle {
    font-size: 2rem;
    font-family: Cormorant,serif;
    font-weight: 400;
    font-style: italic;
    line-height: 1.25;

    margin-bottom: 45px;
}

.subscribe__email {
    height: 40px;
    max-width: 430px;
    width: 100%;

    background-color: #C2DBDC;

    padding: 10px;
    margin-bottom: 40px;

    border-bottom: 1px solid black;
}
.subscribe__email::placeholder {
    font-family: Cormorant, serif;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;

    color: rgba(0, 0, 0, 0.5);

}
.subscribe__email:focus {
    outline: none;
}

.subscribe__button {
    max-width: 385px;
    max-height: 65px;

    border: 1px solid black;
    padding: 18px 136px;

    font-size: 1.5rem;
    font-family: Inter, sans-serif;
    line-height: 1.25;
    font-weight: 200;

    background-color: #C2DBDC;

    filter: invert(0);

    cursor: pointer;
}
.subscribe__button:hover {
    filter: invert(100%);
    transition:  0.2s linear;
}

/* Footer
=======================*/
.footer__inner {
    text-align: center;
}

.contact {
    font-size: 2rem;
    font-family: Inter, sans-serif;
    font-weight: 200;
    letter-spacing: 0.2rem;
}

.worktime {
    font-size: 1.16rem;
    font-family: "Playfair Display", serif;
    font-weight: 400;

    color: rgba(0, 0, 0, 0.5);
}

.footer__menu {
    display: flex;
    justify-content: space-between;

    margin: 80px 0 50px 0;

    text-transform: uppercase;
    font-size: 1rem;
    font-family: Inter, sans-serif;
    font-weight: 200;
}

.footer__social a {
    margin: 0 30px 40px 0;
    display: inline-block;
}
.footer__social a :last-child {
    margin-right: 0;
}
.footer__social a img {
    display: block;
}